QTableWidget {
    background-color: lightgray; /* светло-серый фон для всего виджета */
    border: 2px solid gray; /* серая обводка вокруг виджета */
    color: black; /* черный цвет шрифта для текста в таблице */
}

QTableWidget::item {
    border: none; /* убираем видимость границ ячеек */
}

QHeaderView::section {
    background-color: lightgray; /* цвет фона заголовков идентичен общему фону */
    border: none; /* без обводки */
    color: black; /* черный цвет текста заголовков */
}